        @import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
        .row {
            background-image: url("../images/veggie20toppings-1200x628.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        /* body {
            background-color: bisque;
        } */
        
        .card {
            text-align: center;
            margin-left: 680px;
            background-color: transparent;
        }
        
        .second {
            /* margin-left: 280px; */
            background-color: rgb(138, 128, 148);
        }
        
        h1 {
            color: rgb(50, 31, 66);
            font-family: 'Acme', sans-serif;
            font-size: 80px;
            margin-left: 550px;
            padding: 20px;
        }
        
        #p1,
        #p2 {
            font-size: 20px;
            width: 520px;
            font-family: 'Acme', sans-serif;
            margin-left: 300px;
            color: rgb(46, 34, 56);
        }
        
        #tittle {
            margin: 150px;
            float: left;
            margin-left: 1px;
        }
        
        #form {
            opacity: 1;
            width: 320px;
        }
        
        label {
            color: black;
        }
        
        select {
            background-color: white;
            opacity: 0.7;
        }
        
        option {
            color: black;
        }
        
        input {
            background-color: white;
            color: black;
            opacity: 0.7;
        }
        
        #img {
            border-radius: 100px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        
        p {
            color: black;
        }